<style>
	table{
		border: 1px solid grey;
		border-collapse: collapse;
		padding: 5px;
	}
	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}
	table tr:nth-child(odd) {
		background-color: #f1f1f1;
	}
	table tr:nth-child(even) {
		background-color: #ffffff;
	}
</style>
<div class="row" >

	<div class="col-md-3">

	</div>

	<div class="col-md-4">
		<div class="row">
			

			<div class="panel panel-success">
				<div class="panel-heading">All tasks</div>
				<!--<div class="panel-body" ng-repeat="each in story.stories | reverse">-->
					<!--<p>{{each.content}}		{{each.user}}</p>-->

				<table style="width:100%">
					<tr>
						<th>Task</th>
						<th>User</th>
						<th>Start Date</th>
						<th>End Date</th>
					</tr>

					<tr ng-repeat="x in story.stories | orderBy:'sdate' ">
						<td>{{ x.content }}</td>
						<td>{{ x.user }}</td>
						<td>{{ x.sdate | date:'d MMM, yyyy HH:mm:ss a'}}</td>
						<td>{{ x.edate | date:'d MMM, yyyy HH:mm:ss a'}}</td>
					</tr>
				</table>

				<!--<table style="width:100%">-->
					<!--<tr>-->
						<!--<th>Task</th>-->
						<!--<th>User</th>-->
						<!--<th>Time</th>-->
					<!--</tr>-->

					<!--<tr ng-repeat="x in story.stories">-->
						<!--<td>{{ x.content }}</td>-->
						<!--<td>{{ x.user }}</td>-->
						<!--<td>{{ x.created }}</td>-->
					<!--</tr>-->
				<!--</table>-->
				</div>
			</div>

		</div>
	</div>

	<div class="col-md-3">

	</div>

</div>